/* type selectors */
li {
  list-style: none; /* removes the bullet before every list item */
}

a {
  text-decoration: none;
}

a:hover {
  /* a example of a pseudo class */
  text-decoration: underline;
}
